<div class="row">
	<div class="col-sm-12">
		<p>
			Given that the world is becoming increasingly globalized, higher levels of ethnic diversity become observable within different countries. Hence, an examination of the various types of communities that exist within a soccer player network proves to be particularly intriguing.
		</p>
		<p>
			This section will investigate whether the same tendency for diversity occurs within the soccer player network. The findings are expected to point to communities of high ethnic diversity.
		</p>
		<p>
			The modularity was calculated to evaluate the effectiveness of the network’s division into communities. 
		</p>
		<p>
			With a modularity of <strong>0.7</strong>, there is a strong indicator that communities do exist within the network.
		</p>
		<p>
			Specifically, <strong>22</strong> communities were identified, as is shown in the graph below:
		</p>
		<img class="img-responsive center-block"  src="static/images/communities.png">
		<p>
			Each color represents a different community. At some points, communities are shown as not completely separated, as they often overlap to a certain extent.
		</p>
		<p>
			To allow further examinations, the nodes remain fixed in their position but the colors now stand for different countries. The graph below thus reflects whether countries correspond to communities.
		</p>
		<img class="img-responsive center-block"  src="static/images/communities_country.png">
		
		<p>
			The table below was designed to facilitate more in-depth analysis. It illustrates the correspondence between communities and nationalities. 
		</p>
		<p>
			The following conclusions can be drawn from this table: 
		</p>
		<ul>
			<li><strong>Community 1:</strong> Mainly Cyprus and Greece.</li>
			
			<li><strong>Community 2:</strong> Mainly Czech Republic and Slovakia.</li>

			<li><strong>Community 3:</strong> Mainly Serbia, Bosnia-Herzegovina, Macedonia and Montenegro.</li>

			<li><strong>Community 4:</strong> Largely Denmark. But also Sweden and Iceland.</li>

			<li><strong>Community 5:</strong> Mainly Russia, Georgia and Ukraine.</li>

			<li><strong>Community 6:</strong> Mostly England, Wales, Ireland and Scotland. Furthermore, there are high numbers of several other countries. This could indicate that community 6 is the English Premiere League.</li>

			<li><strong>Community 7:</strong> Mainly Portugal and Brazil.</li>

			<li><strong>Community 8:</strong> Azerbaijan. Very few other players. Almost all from Azerbaijan is on this community.</li>

			<li><strong>Community 9:</strong> Israel. Very few other players. Almost all from Israel is in this community.</li>

			<li><strong>Community 10:</strong> Mainly Scotland, Northern Ireland and England.</li>

			<li><strong>Community 11:</strong> Netherlands, Belgium and a few from France.</li>

			<li><strong>Community 12:</strong> Many players who do not have a country.</li>

			<li><strong>Community 13:</strong> Spain, Italy, Argentina, France and Brazil. Could be the Spanish LaLiga.</li>

			<li><strong>Community 14:</strong> Bulgaria. Very few other players. Almost all from Bulgaria is in this community.</li>

			<li><strong>Community 15:</strong> Slovenia. Very few other players. Almost all from Slovenia is in this community.</li>

			<li><strong>Community 16:</strong> Germany and Austria. Few German players are in other communities.</li>

			<li><strong>Community 17:</strong> Luxembourg and France.</li>

			<li><strong>Community 18:</strong> France.</li>

			<li><strong>Community 19:</strong> Albania. Very few other players. Almost all from Albania is on this community.</li>

			<li><strong>Community 20:</strong> Switzerland. Very few other players. Almost all from Switzerland is in this community.</li>

			<li><strong>Community 21:</strong> Armenia. Very few other players. Almost all from Armenia is in this community.</li>

			<li><strong>Community 22:</strong> Poland. Very few other players. Almost all from Poland is in this community.</li>
		</ul>
		<h3>Result</h3>
		<table ng-table-dynamic="tableParams with tableCols" class="table table-striped table-responsive">
			<tr ng-repeat="row in $data">
				<td ng-repeat="col in $columns" ng-class="getColor(row[col.field])">{{row[col.field]}}</td>
			</tr>
		</table>
	</div>
</div>