<h1 class="page-header">Degree Distribution</h1>

<div class="row">
	<div class="col-sm-12">
		<p>The degree distribution for the soccer player network can be seen below: </p>
		<img src="static/images/degreeDistribution.png">
		
		<h3>What does the Degree Distribution show?</h3>
		<p>
			The histogram shows that there exist some hubs in the network. Soccer players with a high degree are less frequent than those with a lower degree. Furthermore, the histogram reveals that most soccer players have around 50 degree. This means that most soccer players play with around 50 other players in their career.
		</p>
		<p>
			In a similar study for NBA players, <a target="_blank" href="http://ise.tamu.edu/people/faculty/butenko/papers/nba_graph.pdf">Social Networks in Sports</a>, it was revealed that the players with the highest degree (number of links) were actually players sitting on the bench. 
		</p>
		<p>
			Thus it was investigated whether the same pattern occurred in the soccer player network. The table below shows the top 10 soccer players with the highest degree.
		</p>
		<p>
			It is interesting to see that the soccer players are actually <strong>not</strong> well-known, which points at the same conclusion as the NBA Study. Further investigation revealed that the soccer players are sitting on the bench or switching between many clubs. In conclusion, the same pattern appears to occur in the soccer player network. There is a tendency that high degree soccer players are sitting on the bench.

		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						#
					</th>
					<th>
						Name
					</th>
					<th>
						Degree
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>
						<a target="_blank" href="https://en.wikipedia.org/wiki/Leon_Clarke">Leon Clarke</a>
					</td>
					<td>
						359
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<a target="_blank" href="https://en.wikipedia.org/wiki/Tommy_Smith_(footballer,_born_1992)">Tommy Smith</a>
					</td>
					<td>
						334
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>
						<a target="_blank" href="https://en.wikipedia.org/wiki/Beto_(Portuguese_footballer,_born_1982)">Beto</a>
					</td>
					<td>
						302
					</td>
				</tr>
				<tr>
					<td>4</td>
					<td>
						<a target="_blank" href="#">Ricardo</a>
					</td>
					<td>
						298
					</td>
				</tr>
				<tr>
					<td>5</td>
					<td>
						<a target="_blank" href="https://en.wikipedia.org/wiki/Scott_Davies_(footballer,_born_1988)">Scott Davies</a>
					</td>
					<td>
						292
					</td>
				</tr>
				<tr>
					<td>6</td>
					<td>
						<a target="_blank" href"https://en.wikipedia.org/wiki/Leon_Best">Leon Best</a>
					</td>
					<td>
						290
					</td>
				</tr>
				<tr>
					<td>7</td>
					<td>
						<a target="_blank" href"https://en.wikipedia.org/wiki/Tom_Kennedy_(footballer)">Tom Kennedy</a>
					</td>
					<td>
						282
					</td>
				</tr>
				<tr>
					<td>8</td>
					<td>
						<a target="_blank" href"https://en.wikipedia.org/wiki/Rob_Kiernan">Rob Kiernan</a>
					</td>
					<td>
						272
					</td>
				</tr>
				<tr>
					<td>9</td>
					<td>
						<a target="_blank" href"https://en.wikipedia.org/wiki/Jon_Stead">Jon Stead</a>
					</td>
					<td>
						272
					</td>
				</tr>
				<tr>
					<td>10</td>
					<td>
						<a target="_blank" href"https://en.wikipedia.org/wiki/Paul_Hayes">Paul Hayes</a>
					</td>
					<td>
						271
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>








