<div class="row">
	<div class="col-sm-12">
		<p>
			The degree distribution of the soccer player network is depicted in the graph below:
		</p>
		<img src="static/images/degreeDistribution.png">
		
		<h3>What Does the Degree Distribution Show?</h3>
		<p>
			The histogram indicates the existence of certain hubs within the network. Soccer players with a high degree distribution are less frequent than those with a lower one. Additionally, the histogram demonstrates that most soccer players have an approximately 50-degree distribution. This means that most soccer players play with roughly 50 other players in the course of their career.
		</p>
		<p>
			In a similar study for NBA players, <a target="_blank" href="http://ise.tamu.edu/people/faculty/butenko/papers/nba_graph.pdf">Social Networks in Sports</a>, it was discovered that the highest degree players (number of links) were actually players sitting on the bench.
		</p>
		<p>
			Thus, it was examined whether the same pattern occurred within the soccer player network. The table below presents the 10 highest-degree soccer players.
		</p>
		<p>
			It is worth noting that these soccer players are actually <strong>not</strong> well-known, which points towards the same conclusion as that of the NBA Study. Also, further investigation revealed that the highest-degree soccer players are either sitting on the bench or switching between multiple clubs. Therefore, the pattern observed in the NBA Study does indeed apply to the soccer player network as well: high-degree soccer players present the tendency of sitting on the bench.
		</p>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						#
					</th>
					<th>
						Name
					</th>
					<th>
						Degree
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>
						<a target="_blank" href="https://en.wikipedia.org/wiki/Leon_Clarke">Leon Clarke</a>
					</td>
					<td>
						359
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<a target="_blank" href="https://en.wikipedia.org/wiki/Tommy_Smith_(footballer,_born_1992)">Tommy Smith</a>
					</td>
					<td>
						334
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>
						<a target="_blank" href="https://en.wikipedia.org/wiki/Beto_(Portuguese_footballer,_born_1982)">Beto</a>
					</td>
					<td>
						302
					</td>
				</tr>
				<tr>
					<td>4</td>
					<td>
						<a target="_blank" href="#">Ricardo</a>
					</td>
					<td>
						298
					</td>
				</tr>
				<tr>
					<td>5</td>
					<td>
						<a target="_blank" href="https://en.wikipedia.org/wiki/Scott_Davies_(footballer,_born_1988)">Scott Davies</a>
					</td>
					<td>
						292
					</td>
				</tr>
				<tr>
					<td>6</td>
					<td>
						<a target="_blank" href"https://en.wikipedia.org/wiki/Leon_Best">Leon Best</a>
					</td>
					<td>
						290
					</td>
				</tr>
				<tr>
					<td>7</td>
					<td>
						<a target="_blank" href"https://en.wikipedia.org/wiki/Tom_Kennedy_(footballer)">Tom Kennedy</a>
					</td>
					<td>
						282
					</td>
				</tr>
				<tr>
					<td>8</td>
					<td>
						<a target="_blank" href"https://en.wikipedia.org/wiki/Rob_Kiernan">Rob Kiernan</a>
					</td>
					<td>
						272
					</td>
				</tr>
				<tr>
					<td>9</td>
					<td>
						<a target="_blank" href"https://en.wikipedia.org/wiki/Jon_Stead">Jon Stead</a>
					</td>
					<td>
						272
					</td>
				</tr>
				<tr>
					<td>10</td>
					<td>
						<a target="_blank" href"https://en.wikipedia.org/wiki/Paul_Hayes">Paul Hayes</a>
					</td>
					<td>
						271
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>








