<div class="row">
	<div class="col-sm-12">
		<p>
			In order to identify the most influential soccer players for the network, the <a target="_blank" href="https://en.wikipedia.org/wiki/Betweenness_centrality">betweenness centrality</a> of each player was calculated.
		</p>
		<p>
			The findings are displayed in the table below. Notably, the centrality was found to be low, which means that there are no particularly central players in the network. Had the result been closer to 1, it would have reflected a network with stronger central hubs.
		</p>
		<p>
			If you on your team want a soccer player of strong impact on the soccer network, pick one of these guys:
		</p>
		<h3>Result</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						#
					</th>
					<th>
						Name
					</th>
					<th>
						Centrality
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>
						<a href="https://en.wikipedia.org/wiki/Milan_Jovanovi%C4%87_(footballer,_born_1981)">Milan Jovanovic</a>
					</td>
					<td>
						0.00655679231074
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>
						<a href="https://en.wikipedia.org/wiki/Zurab_Khizanishvili">Zurab Khizanishvili</a>
					</td>
					<td>
						0.00634832590784
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td>
						<a href="#">Ricardo</a>
					</td>
					<td>
						0.00633201626052
					</td>
				</tr>
				<tr>
					<td>4</td>
					<td>
						<a href="https://en.wikipedia.org/wiki/Beto_(Portuguese_footballer,_born_1982)">Beto</a>
					</td>
					<td>
						0.00604596959839
					</td>
				</tr>
				
				<tr>
					<td>5</td>
					<td>
						<a href="#">Júnior</a>
					</td>
					<td>
						0.00536872468385
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>