<div class="row">
	<div class="col-sm-12">
		<p>
			This section concerns the hypothesis that old soccer players are more loyal than young soccer players.
		</p>
		<p>
			Initially, the soccer players were plotted in a histogram showing the distribution of the number of players vs. age.
		</p>
		<img class="img-responsive center-block"  src="static/images/age_distribution.png">
		<p>
			As is evident in the histogram, most players are found in their twenties, however there is still a sufficient number of active players in their thirties to provide an indication of their degree of loyalty.
		</p>
		<p>
			Next, the mean number of transfers in each age group vs. age were plotted, as seen in the graph below. The graph reveals a relatively linear growth, up to roughly the age of 35. From that point on, players generally tend to have played in fewer clubs. This tendency is of particular interest, considering that older players have had the chance to play in several clubs due to the longer career they have enjoyed.
		</p>

		<p>
			The hypothesis that older players are more loyal than younger ones can be neither fully proved nor disproved, as the reasons for their lower mobility cannot be known. However, this research does show a tendency in older players to switch less between clubs, hence the assumption that they are more loyal is permissible.
		</p>
		<img class="img-responsive center-block"  src="static/images/agevstransfers.png">
	</div>
</div>



