<h1 class="page-header">Old Players Are More Loyal</h1>

<div class="row">
	<div class="col-sm-12">
		<p>
			This section concerns the hypothesis that old soccer players are more loyal than young soccer players.
		</p>
		<p>
			Firstly, the soccer players are plotted in a histogram showing the distribution of the number of players vs. age.
		</p>
		<img src="static/images/age_distribution.png">
		<p>
			It shows that most players are in the twenties, but there are still a sufficient amount of players in the thirties to find a tendency among them.
		</p>
		<p>
			The mean number of transfers in each age group vs. the age were plotted as seen in the graph below. The graph reveals a relatively linear growth up to around the age of 35. From that point, the players have a tendency to have played in fewer clubs. 
			This is interesting, as older players have had the chance to play in several clubs, but at that age the graph decreases.
		</p>

		<p>
			The hypothesis that older players are more loyal than young players cannot be confirmed or rejected. However, the investigation shows a tendency that older players are in fact playing in fewer clubs hence they might be more loyal.
		</p>
		<img src="static/images/agevstransfers.png">
	</div>
</div>



