<h1 class="page-header">Old Players Are More Loyal</h1>

<div class="row">
	<div class="col-sm-12">
		<p>
			In this section it will be investigated whether old soccer player are more loyal than young soccer players.
		</p>
		<p>
			Firstly, the soccer players have been plotted in a histogram showing the distribution of the number of players vs. age.
		</p>
		<img src="static/images/age_distribution.png">
		<p>
			It shows that there most players are in the twenties, but there are still a sufficient amount of players in the thirties to find a tendency among them.
		</p>
		<p>
			The mean number of transfers in each age group vs. the age have been plotted. The graph is somewhat linear up to around the age of 35. From that point, the players have a tendency to have played in less clubs, even though they are older, and therefore should have had the chance to play in more clubs. The following graph is the result of our investigation:
		</p>
		<img src="static/images/agevstransfers.png">
	</div>
</div>