<h1 class="page-header">Friendship Paradox</h1>

<div class="row">
	<div class="col-sm-12">
		<p>
			In this section it will be investigated whether the well known network friendship paradox occur in the soccer player network. Furthermore, is the average market value for a soccer player's linked connections higher than his own market value?</p>
		<p>
			Firstly, the classic friendship paradox was investigated. In this investigation, it was checked if a soccer player is connected with other soccer players who in average are connected with more soccer players.
		</p>
		<p>
			Secondly, the market value was used as a parameter in the friendship paradow to find out if soccer players typically play with other players of higher market value.
		</p>
		<p>
			The table below shows the output:
		</p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Type
					</th>
					<th>
						True
					</th>
					<th>
						False
					</th>
					<th>
						% True
					</th>
					<th>
						% False
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Degree
					</td>
					<td>
						10583
					</td>
					<td>
						4090
					</td>
					<td>
						72,1%
					</td>
					<td>
						27,9%
					</td>
				</tr>
				<tr>
					<td>
						Market Value
					</td>
					<td>
						8990
					</td>
					<td>
						5683
					</td>
					<td>
						61,3%
					</td>
					<td>
						38,7%
					</td>
				</tr>
			</tbody>
		</table>

		<p>
			The results show that there is a tendency for the friendship paradox to be true for both the degree and the market value. 
		</p>
	</div>
</div>