<h1 class="page-header">Friendship Paradox</h1>

<div class="row">
	<div class="col-sm-12">
		<p>
			This section will explore two questions: firstly, whether the well-known network <a target="_blank" href="https://en.wikipedia.org/wiki/Friendship_paradox">friendship paradox</a> also occurs in the soccer player network or not; and secondly, whether the average market value of a soccer player's linked connections is higher than his own market value.</p>
		<p>
			For the purpose of the first question, it was examined whether a soccer player is connected with other soccer players who, on average, have a higher number of connections.
		</p>
		<p>
			For the purpose of the second question, the market value was now added as a parameter of the friendship paradox, in order to show whether soccer players generally play with other players of a higher market value.
		</p>
		<p>
			The table below displays the two outputs of this investigation:
		</p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Type
					</th>
					<th>
						True
					</th>
					<th>
						False
					</th>
					<th>
						% True
					</th>
					<th>
						% False
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Degree
					</td>
					<td>
						10583
					</td>
					<td>
						4090
					</td>
					<td>
						72,1%
					</td>
					<td>
						27,9%
					</td>
				</tr>
				<tr>
					<td>
						Market Value
					</td>
					<td>
						8990
					</td>
					<td>
						5683
					</td>
					<td>
						61,3%
					</td>
					<td>
						38,7%
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			<strong>72,1%</strong> of the soccer players are linked to soccer players who present a higher number of links.
		</p>
		<p>
			<strong>61,3%</strong> of the soccer players have a lower market value than their linked soccer players.
		</p>
		<p>
			The results prove the phenomenon generally applies to both the players’ degree and market value. 
		</p>
	</div>
</div>