<h1 class="page-header">Friendship Paradox</h1>

<div class="row">
	<div class="col-sm-12">
		<p>
			In this section, it will be investigated if the well-known network <a target="_blank" href="https://en.wikipedia.org/wiki/Friendship_paradox">friendship paradox</a> occur in the soccer player network. Furthermore, is the average market value for a soccer player's linked connections higher than his own market value?</p>
		<p>
			For the classic friendship paradox, it was examined if a soccer player is connected with other soccer players who in average have a higher number of connections.
		</p>
		<p>
			For the next investigation, the market value was then used as a parameter in the friendship paradox. This will show if soccer players in general play with other players of higher market value.
		</p>
		<p>
			The table below shows the two outputs from the investigation:
		</p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>
						Type
					</th>
					<th>
						True
					</th>
					<th>
						False
					</th>
					<th>
						% True
					</th>
					<th>
						% False
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Degree
					</td>
					<td>
						10583
					</td>
					<td>
						4090
					</td>
					<td>
						72,1%
					</td>
					<td>
						27,9%
					</td>
				</tr>
				<tr>
					<td>
						Market Value
					</td>
					<td>
						8990
					</td>
					<td>
						5683
					</td>
					<td>
						61,3%
					</td>
					<td>
						38,7%
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			<strong>72,1%</strong> of the soccer players are linked with other soccer players with a higher amount of links.
		</p>
		<p>
			<strong>61,3%</strong> of the soccer players have a lower market value than their linked soccer players.
		</p>
		<p>
			The result shows that there is a tendency for the phenomenon to be true for both the degree and the market value. 
		</p>
	</div>
</div>