<h1 class="page-header">The Player Index</h1>

<div class="row">
	<div class="col-sm-12">
		<h2>The Bendtner Index!</h2>
		<p>
			As an example Bendtner was used as index to find the average distance to him for all other players in the soccer player network.
		</p>
		<div class="row">
			<div class="col-sm-6">
				<img src="static/images/bendtner_index_distribution.png">
			</div>
			<div class="col-sm-6">

				<h3>Average Bendtner Index:</h3> 
				<div class="numberCircle">2,7</div>
				
			</div>
		</div>
		<p>
			The average Bendtner Index is lower than the theory <a href="https://en.wikipedia.org/wiki/Six_degrees_of_separation">six degrees of separation"</a>. 
		</p>
	</div>
</div>

<!--<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<div class="caption">
			<div class="form-group">
				<h3>The Index Of</h3> 
				<input type="text" class="form-control" id="indexName" placeholder="Type name" value="Lord Bendtner">
			</div>
			<div class="form-group">
				<h3>To</h3>
				<input type="text" class="form-control" id="indexName" placeholder="Type name">
			</div>
			<div class="form-group">
				<a href="#" class="btn btn-primary" role="button">Go</a>
			</div>
		</div>
	</div>
</div>-->