<h1 class="page-header">Lord Bendtner Index</h1>

<div class="row">
	<div class="col-sm-12">
		<p>
			To find out if the <a target="_blank" href="https://en.wikipedia.org/wiki/Six_degrees_of_separation">six degrees of separation</a> existed in the soccer player network, the Danish soccer player Nicklas Bendtner was used as the index.
		</p>
		<p>
			The distances from Bendtner to all other players were measured and plotted in the histogram below. The average distance was then calculated and displayed below.
		</p>
		<div class="row">
			<div class="col-sm-6">
				<img src="static/images/bendtner_index_distribution.png">
			</div>
			<div class="col-sm-6">

				<h3>Average Bendtner Index:</h3> 
				<div class="numberCircle">2,7</div>
				
			</div>
		</div>
		<p>
			The Bendtner Index is at its highest 5, which complies with the maximum of <a target="_blank" href="https://en.wikipedia.org/wiki/Six_degrees_of_separation">six degrees of separation</a>. Most players are 3-4 steps away from him, but an average of <strong>2,7</strong> indicates that Bendtner has a central role in the network.
		</p>
	</div>
</div>

<!--<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<div class="caption">
			<div class="form-group">
				<h3>The Index Of</h3> 
				<input type="text" class="form-control" id="indexName" placeholder="Type name" value="Lord Bendtner">
			</div>
			<div class="form-group">
				<h3>To</h3>
				<input type="text" class="form-control" id="indexName" placeholder="Type name">
			</div>
			<div class="form-group">
				<a href="#" class="btn btn-primary" role="button">Go</a>
			</div>
		</div>
	</div>
</div>-->