<div class="row">
	<div class="col-sm-12">
		<p>
			This section will address the social network of soccer players. It will explain the structure of the network and provide a brief description of each network analysis.
		</p>
		<p>
			The undirected network consists of the soccer players and links between them - if they have played together in their careers. This facilitates the investigation of impact of the soccer players on the network and their relations. 
		</p>
		<p>
			The following attributes describe the nodes and links within the network:
		</p>
		<strong>Nodes:</strong> Soccer players
		<ul>
			<li><strong>Attribute:</strong> Name</li>
			<li><strong>Attribute:</strong> Age</li>
			<li><strong>Attribute:</strong> Current Team</li>
			<li><strong>Attribute:</strong> Market Value</li>
		</ul>
		<strong>Links:</strong> A link is established between two soccer players if they have played on the same team
		<ul>
			<li><strong>Attribute:</strong> Team</li>
		</ul>
		


		<img class="img-responsive center-block" src="static/images/network.png">

		<h3>Based on the defined network, different areas were analysed.</h3>

		<div class="list-group">
			<a href="network/degree" class="list-group-item">
				<h4 class="list-group-item-heading">Degree Distribution</h4>
				<p class="list-group-item-text">The degree distribution was calculated to show how the number of links is distributed across the soccer players.</p>
			</a>
			<a href="network/playerindex" class="list-group-item">
				<h4 class="list-group-item-heading">Lord Bendtner Index</h4>
				<p class="list-group-item-text">How many links are there from Lord Bendtner to other soccer players? Do the six degrees of separation occur in the soccer player network?</p>
			</a>
			<a href="network/influential" class="list-group-item">
				<h4 class="list-group-item-heading">Most Influential Players</h4>
				<p class="list-group-item-text">Which players link the network together?</p>
			</a>
			<a href="network/loyal" class="list-group-item">
				<h4 class="list-group-item-heading">Old Players Are More Loyal</h4>
				<p class="list-group-item-text">One might think that in the good old days soccer players were more loyal and did not change clubs as often. The network was investigated in terms of the age of soccer players in order to test this hypothesis.</p>
			</a>
			<a href="network/paradox" class="list-group-item">
				<h4 class="list-group-item-heading">Friendship Paradox</h4>
				<p class="list-group-item-text">Does the well-known network friendship paradox occur in the soccer player network? Do soccer players  - on average - have fewer links than their linked soccer players? Furthermore, is a soccer player’s market value lower than the average of the linked soccer players’ market value?</p>
			</a>
			<a href="network/communities" class="list-group-item">
				<h4 class="list-group-item-heading">Communities</h4>
				<p class="list-group-item-text">Do the deduced communities correspond with nationality and do communities overlap?</p>
			</a>
			<a href="network/interactive" class="list-group-item">
				<h4 class="list-group-item-heading">Interactive Graph</h4>
				<p class="list-group-item-text">An interactive graph illustrating a small fragment of the soccer player network.</p>
			</a>
		</div>
	</div>
</div>