<div class="row">
	<div class="col-sm-12">
		<p>
			This section will investigate whether a classifier can trained to predict soccer players’ position on field by only using the their Wikipedia page. 
		</p>
		<p>
			The massive Wikipedia corpus of the soccer players’ pages have been tokenized, stemmed and narrowed down to a bag-of-words, which was used to train the classifier. Additionally, a training set of the corpus labelled with the correct positions was used to further train the classifier.
		</p>
		<p>
			The classifier’s predictions of the field positions of 10 soccer players are presented in the table below.
		</p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-sm-4">Name</th>
					<th class="col-sm-4">Real Position</th>
					<th class="col-sm-4">Predicted Position</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Drew Moor</td>
					<td>Goalkeeper</td>
					<td>Goalkeeper</td>
				</tr>
				<tr>
					<td>Mattias Mete</td>
					<td>Defender</td>
					<td>Defender</td>
				</tr>
				<tr>
					<td>Kevin Larsen</td>
					<td>Midfielder</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Abdulaziz Hatem</td>
					<td>Midfielder, Forward</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Tomotaka Kitamura</td>
					<td>Midfielder</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Arnhold Rivas</td>
					<td>Midfielder</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Fabio Reato</td>
					<td>Midfielder</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Tomasz Kupisz</td>
					<td>Midfielder</td>
					<td>Midfielder, Forward</td>
				</tr>
				<tr>
					<td>Jack Blake</td>
					<td>Forward</td>
					<td>Forward</td>
				</tr>
				<tr>
					<td>Loïc Puyo</td>
					<td>Forward</td>
					<td>Forward</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>