<div class="row">
	<div class="col-sm-DefenderMidfielder">
		<p>
			
		</p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-sm-4">Name</th>
					<th class="col-sm-4">Real Position</th>
					<th class="col-sm-4">Predicted Position</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Drew Moor</td>
					<td>Goalkeeper</td>
					<td>Goalkeeper</td>
				</tr>
				<tr>
					<td>Mattias Mete</td>
					<td>Defender</td>
					<td>Defender</td>
				</tr>
				<tr>
					<td>Kevin Larsen</td>
					<td>Midfielder</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Abdulaziz Hatem</td>
					<td>Midfielder, Forward</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Tomotaka Kitamura</td>
					<td>Midfielder</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Arnhold Rivas</td>
					<td>Midfielder</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Fabio Reato</td>
					<td>Midfielder</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Tomasz Kupisz</td>
					<td>Midfielder</td>
					<td>Midfielder, Forward</td>
				</tr>
				<tr>
					<td>Jack Blake</td>
					<td>Forward</td>
					<td>Forward</td>
				</tr>
				<tr>
					<td>Loïc Puyo</td>
					<td>Forward</td>
					<td>Forward</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>