<div class="row">
	<div class="col-sm-12">
		<p>
			This section will investigate whether a classifier can be trained to predict a soccer players' position on field by only using their Wikipedia page. 
		</p>
		<p>
			The massive Wikipedia corpus of the soccer players' pages has been tokenized, stemmed and narrowed down to a bag-of-words, which was used to train the classifier. Additionally, a training set of the corpus labelled with the correct positions was used to further train the classifier.
		</p>
		<p>
			The classifier's predictions of 10 random soccer players' field positions are presented in the table below.
		</p>
		<p>
			As it is evidence in the result, the classifier correctly predicts all the soccer players' field positions. However, when the accuracy of the classifier is calculated, it revealed that it only classified <strong>31% (+/- 1%)</strong> of the input correctly. 
		</p>
		<p>
			It is worth noting that the real position vs. the predicted position might only be partially correct, e.g. as it is evidence for <strong>Abdulaziz Hatem</strong> and <strong>Tomasz Kupisz</strong>. For <strong>Kupisz</strong> both <strong>Midfielder</strong> and <strong>Forward</strong> are predicted, whereas his real position is only <strong>Midfield</strong>. This would result in an incorrect classification.
		</p>
		<h3>Result</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-sm-4">Name</th>
					<th class="col-sm-4">Real Position</th>
					<th class="col-sm-4">Predicted Position</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Drew Moor</td>
					<td>Goalkeeper</td>
					<td>Goalkeeper</td>
				</tr>
				<tr>
					<td>Mattias Mete</td>
					<td>Defender</td>
					<td>Defender</td>
				</tr>
				<tr>
					<td>Kevin Larsen</td>
					<td>Midfielder</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Abdulaziz Hatem</td>
					<td>Midfielder, Forward</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Tomotaka Kitamura</td>
					<td>Midfielder</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Arnhold Rivas</td>
					<td>Midfielder</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Fabio Reato</td>
					<td>Midfielder</td>
					<td>Midfielder</td>
				</tr>
				<tr>
					<td>Tomasz Kupisz</td>
					<td>Midfielder</td>
					<td>Midfielder, Forward</td>
				</tr>
				<tr>
					<td>Jack Blake</td>
					<td>Forward</td>
					<td>Forward</td>
				</tr>
				<tr>
					<td>Loïc Puyo</td>
					<td>Forward</td>
					<td>Forward</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>