<div class="row">
	<div class="col-sm-12">
		<p>
			The focus will now be on the soccer players’ Wikipedia pages. What kind of data can be extracted and how much does it actually say about the soccer players?
		</p>
		<p>
			Can the players’ position on the field or their market value be predicted alone by their Wikipedia page? 
		</p>
		<p>
			To answer these questions, two classifiers are created and trained with a small fragment of the soccer players' Wikipedia corpus.
		</p>
		<p>
			Lastly, there is created a word cloud from the Wikipedia page for each of the soccer players Neymar, Messi and Ronaldo. Furthermore, these word clouds are investigated to find out how informative they are about the soccer players. 
		</p>

		<h3>Table of Contents</h3>

		<div class="list-group">
			<a href="wiki/playerposition" class="list-group-item">
				<h4 class="list-group-item-heading">Player Position Classifier</h4>
				<p class="list-group-item-text">A classifier created to predict a soccer player's position on the field.</p>
			</a>
			<a href="wiki/marketvalue" class="list-group-item">
				<h4 class="list-group-item-heading">Market Value Classifier</h4>
				<p class="list-group-item-text">A classifier created to predict a soccer player's market value.</p>
			</a>
			<a href="wiki/wordcloud" class="list-group-item">
				<h4 class="list-group-item-heading">Word Cloud</h4>
				<p class="list-group-item-text">Shows three word clouds about three famous soccer players.</p>
			</a>
		</div>
	</div>
</div>