<h1 class="page-header">Word Cloud</h1>

<div class="row">
	<div class="col-sm-12">
		<p>
			We have decided to create word clouds for the three players who are currently nominated for the Ballon d’or in order to see if that would yield any results informative 
			In general many of the words describing the three players is probably not the most informative to people not interested in football. But with just a little knowledge about football some of the words are definitely sticking out and makes sense if you know something about the careers of the players.
		</p>
		
		<h4>Neymar</h4>
		<p>
			Neymar being Brazilian, it makes sense the words with the highest TF-IDF in his case are words closely related to Brazil.
			A word that could seem out of place is ’scottish’ but knowing a bit about football, it is clear that it must refer to an incident happening during a match between Scotland and Brazil where one of the Scottish fans threw a banana at Neymar.
		</p>
		
		<h4>Lionel Messi</h4>
		<p>
			When it comes to the word cloud for Messi,  words like ’hormone’, ’growth’ and ’childhood’ is very telling about him. Messi was very small in his childhood (and still is) and was prescribed growth hormones. 
			’false’ could seem like an odd word to be descriptive about a person, but Messi is widely known for playing the position of a false nine - a relatively new football term describing a forward who drops deep in field.
		</p>

		
		<h4>Cristiano Ronaldo</h4>
		<p>
			Ronaldo is the only of the three players who have played in the Premier League in England, why words like ’pfa’ and ’fa’ make sense to be describing his wiki-page. ’pfa’ is the Professional Footballers’ Association and FA is the football association mentioned widely in relation to the FA Cup. After a manual inspection of the wikipedia page, the frequent use of put must be because of the writing style of the author. It seems to be used in contexts that could just as easily have been present in the wikipedia pages for Messi and Neymar.
		</p>

	</div>
</div>