<div class="row">
	<div class="col-sm-12">
		<p>
			Three word clouds were created for each of the currently <a target="_blank" href="https://en.wikipedia.org/wiki/FIFA_Ballon_d%27Or">Ballon d'Or</a> nominated players respectively, to test whether this process could yield any useful results. 
		</p>
		<p>
			In general many of the words describing the three players are probably not particularly informative for people who are not interested in soccer. But for those possessing even very basic knowledge about soccer, some of these words are certainly recognizable and easy to relate to what little they know about players' careers. 
		</p>
		
		<h3>Neymar</h3>
		<p>
			As <a target="_blank" href="https://en.wikipedia.org/wiki/Neymar">Naymar</a> is Brazilian, it is only logical that the highest TF-IDF in his case are words closely related to Brazil. A word that could seem out of place is 'Scottish', but to someone knowing a little bit about football, it is clear that this must refer to the well-known incident of a Scottish fan who threw a banana at Neymar during a match between Scotland and Brazil. 
		</p>
		<img class="img-responsive center-block" src="/static/images/neymar.svg">

		
		<h3>Lionel Messi</h3>
		<p>
			When it comes to the word cloud for <a target="_blank" href="https://en.wikipedia.org/wiki/Lionel_Messi">Messi</a>, words like 'hormone', 'growth', 'deficiency' and 'childhood' are very telling about him. Messi was very small as a child (and still is) and was prescribed growth hormones for his <a href="https://en.wikipedia.org/wiki/Growth_hormone_deficiency">GHD</a>. 'False' could seem like an odd word to describe any person, but in the soccer community Messi is widely known for playing the position of a 'false nine' - a relatively new football term describing a forward who drops deep in field.
		</p>
		<img class="img-responsive center-block" src="/static/images/messi.svg">
		
		<h3>Cristiano Ronaldo</h3>
		<p>
			<a target="_blank" href="https://en.wikipedia.org/wiki/Cristiano_Ronaldo">Ronaldo</a> is the only of the three players who has played in the Premier League in England, which explains why words like 'pfa' and 'fa' describe his wiki-page. 'pfa' is the Professional Footballers' Association and 'fa' is the Football Association, which is very frequently brought up in discussions about the FA Cup. 
			Words like 'beating', 'equalled' and 'dedicated' describes his playing style, and reflects the type of player he is. 
			After a manual inspection of the wikipedia page, the word 'cancer' was found to relate to his mother battling with cancer, thus he chose to donate money to cancer funds. 
		</p>
		<img class="img-responsive center-block" src="/static/images/ronaldo.svg">
	</div>
</div>