<!DOCTYPE html>
<html ng-app="soccerApp" ng-controller="mainController">
<head>
	<meta charset="UTF-8">
	<title ng-bind="Page.title()"></title>
	<base href="/" />

  	{% include 'stylesheets.html' %}
</head>

<body>
	{% include 'navbar.html' %}

	<div class="container-fluid">
	    <div class="row">
	    	{% include 'sidebar.html' %}
	     	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-cloak view-animate-container" ng-class="direction">
	     		<!-- angular templating -->
		        <!-- this is where content will be injected -->
		        <div app-view-segment="0" class="row view-animate page"></div>
	     	</div>
	    </div>
  	</div>

  	{% include 'javascripts.html' %}
</body>
</html>