{% load staticfiles %}

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route-segment/build/angular-route-segment.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
<script type='text/javascript' src="{% static 'bower_components/angular-loading-bar/build/loading-bar.min.js' %}"></script>
<script type='text/javascript' src="{% static 'bower_components/ng-table/dist/ng-table.min.js' %}"></script>

<script src="//d3js.org/d3.v3.min.js"></script>

<script type="text/javascript" src="{% static 'javascripts/tooltip.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/app.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/directives/networkGraphDirective.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/services/socialnetworkService.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/services/classifierService.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/controllers/home/mainController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/home/homeController.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/controllers/socialnetwork/socialnetworkController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/socialnetwork/communitiesController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/socialnetwork/degreeController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/socialnetwork/influentialController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/socialnetwork/interactiveController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/socialnetwork/loyalController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/socialnetwork/paradoxController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/socialnetwork/playerindexController.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/controllers/wiki/wikiController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/wiki/marketvalueController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/wiki/playerpositionController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/wiki/wordcloudController.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/controllers/extra/extrafunController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/extra/italyController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/extra/transfersController.js' %}"></script>

