{% load staticfiles %}

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route-segment/build/angular-route-segment.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
<script type='text/javascript' src="{% static 'bower_components/angular-loading-bar/build/loading-bar.min.js' %}"></script>

<script src="//d3js.org/d3.v3.min.js"></script>

<script type="text/javascript" src="{% static 'javascripts/tooltip.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/app.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/directives/networkGraphDirective.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/services/socialnetworkService.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/services/classifierService.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/controllers/mainController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/homeController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/socialnetworkController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/interactiveController.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/controllers/wikiController.js' %}"></script>
