<div class="row">
	<div class="col-sm-12">
		<h2>About</h2>
		<p>
			This website is the end product in the course <a target="_blank" href="http://www.kurser.dtu.dk/02805.aspx?menulanguage=en-gb">02805 - Social Graphs and Interactions</a> at the Technical University of Denmark taught by Sune Lehmann. The website show the results and conclusions from the work, but will not include any code.
		</p>
	</div>
	
	<div class="col-sm-12">
		<h2>The Project</h2>
		<p>
			The theme for the project is Soccer, which will be investigated from different angles to uncover patterns. Different tools has been used to do this, all related to the course. The key areas for the project are:
		</p>
		<ul>
			<li>Soccer player network analysis</li>
			<li>Wikipedia pages analysis</li>
		</ul>
		<p>
			Besides those two areas, there is a small area with “fun facts” related to the theme. 
			The areas and what is investigated, will be described more in depth in the corresponding section on the website. 
		</p>
	</div>
	<div class="col-sm-12">
		<h2>Motivation</h2>
		<p>
			The idea was to create a data set by aggregating different kind of data from multiple sources. The resulting data set consist of various kind of player data from <a target="_blank" href="http://www.transfermarkt.com/">TransferMarkt.com</a>, Wikipedia articles about individual football players, and match data from <a target="_blank" href="http://www.bold.dk/">Bold.dk</a>.
		</p>
		<p>
			There were several reasons why this approach was chosen instead of just selecting a more standard ready-to-analyse data set. First and foremost, there was no freely available data set offering the wanted properties and thereby the wanted variety of analysis possibilities. Secondly, it would be a challenging task to create the data set, and the end data set would be of self-selected shape. Lastly, because of the popularity of football, the chance of ending up with a rich data set was great. The goal for the end user’s experience is to expose interesting insights of the world of football through analyses of the data set and visualisations and interpretations of the results.
		</p>
	</div>

	<div class="col-sm-12">
		<h2>YouTube</h2>
		<p>
			Check out this awesome video that was created as an introduction to the project!
		</p>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/smIH0FgFTnA" frameborder="0" allowfullscreen></iframe>
	</div>
</div>