<div class="row">
	<div class="col-sm-12">
		<p>
			A network of soccer players has been created and analysed. The Wikipedia pages of all the soccer players have been investigated and used to create classifiers. 
		</p>
		<p>
			Which other interesting discoveries can be found in the massive soccer player data set? Can it reveal which clubs did the best transfers, e.g. by calculating the profit?
		</p>
		<p>
			What about the players – who did the best transfer?
		</p>
		<p>
			Next, the hypothesis that the Italian soccer club win with fewer goals than everybody else is investigated.
		</p>

		<h3>Table of Contents</h3>

		<div class="list-group">
			<a href="extrafun/transfers" class="list-group-item">
				<h4 class="list-group-item-heading">Best Transfers</h4>
				<p class="list-group-item-text">Which clubs did the best transfers?</p>
			</a>
			<a href="extrafun/italy" class="list-group-item">
				<h4 class="list-group-item-heading">Italy</h4>
				<p class="list-group-item-text">Does the Italian club win with fewer goals than other soccer clubs?</p>
			</a>
		</div>
	</div>
</div>