<div class="row">
	<div class="col-sm-12">
		<p>
			In this section it will be investigated who did the best transfers.
		</p>
		<h3>Clubs</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-sm-4">Club</th>
					<th class="col-sm-2">Arrivals</th>
					<th class="col-sm-2">Departures</th>
					<th class="col-sm-2">Profit</th>
					<th class="col-sm-2">Profit %</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Aalborg BK</th>
					<td>£2,128000</td>
					<td>£9,800500</td>
					<td>£7,672500</td>
					<td>360,549812</td>
				</tr>
				<tr>
					<th>Aarhus GF</th>
					<td>£2,897333</td>
					<td>£7,345000</td>
					<td>£4,447667</td>
					<td>153,508974</td>
				</tr>
				<tr>
					<th>Brøndby IF</th>
					<td>£13,853833</td>
					<td>£43,818500</td>
					<td>£29,964667</td>
					<td>216,291520</td>
				</tr>
				<tr>
					<th>Esbjerg fB</th>
					<td>£0,816000</td>
					<td>£7,298000</td>
					<td>£6,482000</td>
					<td>794,362745</td>
				</tr>
				<tr>
					<th>FC Copenhagen</th>
					<td>£32,446000</td>
					<td>£41,727500</td>
					<td>£9,281500</td>
					<td>28,605991</td>
				</tr>
				<tr>
					<th>FC Midtjylland</th>
					<td>£6,978000</td>
					<td>£20,384000</td>
					<td>£13,406000</td>
					<td>192,118085</td>
				</tr>
				<tr>
					<th>FC Nordsjaelland</th>
					<td>£1,611000</td>
					<td>£15,798000</td>
					<td>£14,187000</td>
					<td>880,633147</td>
				</tr>
				<tr>
					<th>Hobro IK</th>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<th>Odense Boldklub</th>
					<td>£3,643500</td>
					<td>£12,137667</td>
					<td>£8,494167</td>
					<td>233,132062</td>
				</tr>
				<tr>
					<th>Randers FC</th>
					<td>£1,038500</td>
					<td>£4,768000</td>
					<td>£3,729500</td>
					<td>359,123736</td>
				</tr>
				<tr>
					<th>SönderjyskE</th>
					<td>£0,186000</td>
					<td>£2,132000</td>
					<td>£1,946000</td>
					<td>1046,236559</td>
				</tr>
				<tr>
					<th>Viborg FF</th>
					<td>£0,737000</td>
					<td>£2,020667</td>
					<td>£1,283667</td>
					<td>174,174582</td>
				</tr>
			</tbody>
		</table>

		<h3>Soccer Players</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-sm-4">Player</th>
					<th class="col-sm-2">Club</th>
					<th class="col-sm-2">Arrivals</th>
					<th class="col-sm-2">Departures</th>
					<th class="col-sm-2">Profit</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Andreas Cornelius</td>
					<td>FC Copenhagen</td>
					<td>£1.225</td>
					<td>£6.09</td>
					<td>£4.865</td>
				</tr>
				<tr>
					<td>Daniel Agger</td>
					<td>Brøndby IF</td>
					<td>£1.400</td>
					<td>£6.13</td>
					<td>£4.730</td>
				</tr>
				<tr>
					<td>Ebbe Sand</td>
					<td>Brøndby IF</td>
					<td>£0.000</td>
					<td>£3.61</td>
					<td>£3.610</td>
				</tr>
				<tr>
					<td>Thomas Kahlenberg</td>
					<td>Brøndby IF</td>
					<td>£0.000</td>
					<td>£3.50</td>
					<td>£3.500</td>
				</tr>
				<tr>
					<td>Johan Elmander</td>
					<td>Brøndby IF</td>
					<td>£0.175</td>
					<td>£3.50</td>
					<td>£3.325</td>
				</tr>
				<tr>
					<td>Jores Okore</td>
					<td>FC Nordsjaelland</td>
					<td>£0.000</td>
					<td>£3.29</td>
					<td>£3.290</td>
				</tr>
				<tr>
					<td>Winston Reid</td>
					<td>FC Midtjylland</td>
					<td>£0.000</td>
					<td>£2.94</td>
					<td>£2.940</td>
				</tr>
				<tr>
					<td>Bryan Oviedo</td>
					<td>FC Copenhagen</td>
					<td>£0.280</td>
					<td>£3.15</td>
					<td>£2.870</td>
				</tr>
				<tr>
					<td>Simon Kjaer</td>
					<td>FC Midtjylland</td>
					<td>£0.000</td>
					<td>£2.80</td>
					<td>£2.800</td>
				</tr>
				<tr>
					<td>Djiby Fall</td>
					<td>Odense Boldklub</td>
					<td>£0.700</td>
					<td>£3.29</td>
					<td>£2.590</td>
				</tr>
				<tr>
					<td>Simon Poulsen</td>
					<td>FC Midtjylland</td>
					<td>£0.000</td>
					<td>£2.52</td>
					<td>£2.520</td>
				</tr>
				<tr>
					<td>William Kvist</td>
					<td>FC Copenhagen</td>
					<td>£0.000</td>
					<td>£2.45</td>
					<td>£2.450</td>
				</tr>
				<tr>
					<td>Christian Poulsen</td>
					<td>FC Copenhagen</td>
					<td>£0.000</td>
					<td>£2.45</td>
					<td>£2.450</td>
				</tr>
				<tr>
					<td>Ragnar Sigurdsson</td>
					<td>FC Copenhagen</td>
					<td>£0.560</td>
					<td>£2.98</td>
					<td>£2.420</td>
				</tr>
				<tr>
					<td>Dame N'Doye</td>
					<td>FC Copenhagen</td>
					<td>£1.400</td>
					<td>£3.50</td>
					<td>£S2.100</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>