<div class="row">
	<div class="col-sm-12">
		<p>
			In this section it will be investigated who did the best transfers.
		</p>
		<h3>Danish Superliga</h3>
		<p>
			For this part, the focus will be on the <a target="_blank" href="https://en.wikipedia.org/wiki/Danish_Superliga">Danish Superliga</a>. 
		</p>
		<p>
			A collection of transfers since season 00/01 made by each of the clubs currently playing in the Superliga will be used in the investigation. The point of interest will not be on which clubs have gained the highest profit by buying and selling, but instead on the difference in percentage between their arrivals and departures. The reason is that big clubs in general make big trades, which leads to higher profits.
		</p>
		<p>
			It is expected that the Danish clubs that buy and sell players frequently, like FC Copenhagen will have a relatively low profit percentage. Additionally, clubs like FC Midtjylland and FC Nordsjælland are expected to have a higher profit percentage as they have made some very profitable trades. 
		</p>
		<p>
			The table below presents the result of the investigation.
		</p>
		<p>
			The findings are to some extent corresponding to the expected result. For further investigation, the top 3 clubs with the highest percentages are examined:
		</p>
		<ul>
			<li>
				<strong>Sønderjyske:</strong> Known for buying established players, who have not reached their full potential yet. The club then develops them even further, before selling them again. E.g. players like Lasse Vibe and Quincy Antipas.
			</li>
			<li>
				<strong>FC Nordsjælland:</strong> Known for being economic responsible, and use their own players, or buy younger players, which they potentially can resell for a higher price.
			</li>
			<li>
				<strong>Esbjerg FB:</strong> Same type of club as FC Nordsjælland.
			</li>
		</ul>
		<p>
			It is worth noting that FC Midtjylland has a lower profit percentage than expected. The club mainly focuses on selling their younger players, which should have been reflected in a higher profit percentage. By investigating the club at <a target="_blank" href="http://www.transfermarkt.co.uk/fc-midtjylland/alletransfers/verein/865">transfermarket</a>, it revealed that the club has changed strategy in the past 2 seasons. The club has spent more money on buying new players than gained from selling.
		</p>
		<h3>Result</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-sm-4">Club</th>
					<th class="col-sm-2">Arrivals</th>
					<th class="col-sm-2">Departures</th>
					<th class="col-sm-2">Profit</th>
					<th class="col-sm-2">Profit %</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Aalborg BK</th>
					<td>£2,128000</td>
					<td>£9,800500</td>
					<td>£7,672500</td>
					<td>360,549812</td>
				</tr>
				<tr>
					<th>Aarhus GF</th>
					<td>£2,897333</td>
					<td>£7,345000</td>
					<td>£4,447667</td>
					<td>153,508974</td>
				</tr>
				<tr>
					<th>Brøndby IF</th>
					<td>£13,853833</td>
					<td>£43,818500</td>
					<td>£29,964667</td>
					<td>216,291520</td>
				</tr>
				<tr>
					<th>Esbjerg fB</th>
					<td>£0,816000</td>
					<td>£7,298000</td>
					<td>£6,482000</td>
					<td>794,362745</td>
				</tr>
				<tr>
					<th>FC Copenhagen</th>
					<td>£32,446000</td>
					<td>£41,727500</td>
					<td>£9,281500</td>
					<td>28,605991</td>
				</tr>
				<tr>
					<th>FC Midtjylland</th>
					<td>£6,978000</td>
					<td>£20,384000</td>
					<td>£13,406000</td>
					<td>192,118085</td>
				</tr>
				<tr>
					<th>FC Nordsjaelland</th>
					<td>£1,611000</td>
					<td>£15,798000</td>
					<td>£14,187000</td>
					<td>880,633147</td>
				</tr>
				<tr>
					<th>Hobro IK</th>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
				<tr>
					<th>Odense Boldklub</th>
					<td>£3,643500</td>
					<td>£12,137667</td>
					<td>£8,494167</td>
					<td>233,132062</td>
				</tr>
				<tr>
					<th>Randers FC</th>
					<td>£1,038500</td>
					<td>£4,768000</td>
					<td>£3,729500</td>
					<td>359,123736</td>
				</tr>
				<tr>
					<th>SönderjyskE</th>
					<td>£0,186000</td>
					<td>£2,132000</td>
					<td>£1,946000</td>
					<td>1046,236559</td>
				</tr>
				<tr>
					<th>Viborg FF</th>
					<td>£0,737000</td>
					<td>£2,020667</td>
					<td>£1,283667</td>
					<td>174,174582</td>
				</tr>
			</tbody>
		</table>

		<h3>Soccer Players</h3>
		<p>
			Many people share the opinion that the Danish Superliga was better 8-10 years ago. Could the answer be that there number of transfers in that period were higher? 
		</p>
		<p>
			To examine whether this is true the top 15 transfers of all time in the Danish Superliga are found and presented in table below. 
		</p>
		<p>
			For further investigating, the soccer players from the table are found in the <a target="_blank" href="http://www.transfermarkt.co.uk/">transfermarket</a>, which makes it possible to divide the result into two sections: respectively before and after season 09/10. There are made 7 transfers before and 8 transfers after season 09/10. 
		</p>
		<p>
			When examining the top 5 soccer players from the table, there are made 4 transfers before and only 1 after season 09/10. However, this research does not prove that the number of transfers plays an important role in why the Superliga was better 8 years ago.
		</p>
		<h3>Result</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-sm-4">Name</th>
					<th class="col-sm-2">Club</th>
					<th class="col-sm-2">Arrivals</th>
					<th class="col-sm-2">Departures</th>
					<th class="col-sm-2">Profit</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Andreas Cornelius</td>
					<td>FC Copenhagen</td>
					<td>£1.225</td>
					<td>£6.09</td>
					<td>£4.865</td>
				</tr>
				<tr>
					<td>Daniel Agger</td>
					<td>Brøndby IF</td>
					<td>£1.400</td>
					<td>£6.13</td>
					<td>£4.730</td>
				</tr>
				<tr>
					<td>Ebbe Sand</td>
					<td>Brøndby IF</td>
					<td>£0.000</td>
					<td>£3.61</td>
					<td>£3.610</td>
				</tr>
				<tr>
					<td>Thomas Kahlenberg</td>
					<td>Brøndby IF</td>
					<td>£0.000</td>
					<td>£3.50</td>
					<td>£3.500</td>
				</tr>
				<tr>
					<td>Johan Elmander</td>
					<td>Brøndby IF</td>
					<td>£0.175</td>
					<td>£3.50</td>
					<td>£3.325</td>
				</tr>
				<tr>
					<td>Jores Okore</td>
					<td>FC Nordsjaelland</td>
					<td>£0.000</td>
					<td>£3.29</td>
					<td>£3.290</td>
				</tr>
				<tr>
					<td>Winston Reid</td>
					<td>FC Midtjylland</td>
					<td>£0.000</td>
					<td>£2.94</td>
					<td>£2.940</td>
				</tr>
				<tr>
					<td>Bryan Oviedo</td>
					<td>FC Copenhagen</td>
					<td>£0.280</td>
					<td>£3.15</td>
					<td>£2.870</td>
				</tr>
				<tr>
					<td>Simon Kjaer</td>
					<td>FC Midtjylland</td>
					<td>£0.000</td>
					<td>£2.80</td>
					<td>£2.800</td>
				</tr>
				<tr>
					<td>Djiby Fall</td>
					<td>Odense Boldklub</td>
					<td>£0.700</td>
					<td>£3.29</td>
					<td>£2.590</td>
				</tr>
				<tr>
					<td>Simon Poulsen</td>
					<td>FC Midtjylland</td>
					<td>£0.000</td>
					<td>£2.52</td>
					<td>£2.520</td>
				</tr>
				<tr>
					<td>William Kvist</td>
					<td>FC Copenhagen</td>
					<td>£0.000</td>
					<td>£2.45</td>
					<td>£2.450</td>
				</tr>
				<tr>
					<td>Christian Poulsen</td>
					<td>FC Copenhagen</td>
					<td>£0.000</td>
					<td>£2.45</td>
					<td>£2.450</td>
				</tr>
				<tr>
					<td>Ragnar Sigurdsson</td>
					<td>FC Copenhagen</td>
					<td>£0.560</td>
					<td>£2.98</td>
					<td>£2.420</td>
				</tr>
				<tr>
					<td>Dame N'Doye</td>
					<td>FC Copenhagen</td>
					<td>£1.400</td>
					<td>£3.50</td>
					<td>£S2.100</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>